#colorPickerContainer {
    height: 35px;
    width: 100px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}

#colorPickerContainer > #colorPicker{
    height: 100%;
    width: 100%;
}

.form-option {
    display: flex;
    align-items: center;
}