.main__container{
    width: 100%;
    height: 100%;
   /* background-image: linear-gradient(to left top, #051237, #004375, #007aa2, #00b3b4, #12eba9);*/
    overflow: hidden;
    position: relative;
}
.main__container .location--title {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-top: 12%;
    width: 100vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;

}
.location--title #weather--description {
    font-size: 12px;
    padding-top: 5%;
}
.main__container .location--title span{ 
    font-size: 10vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.temperature__container {
    height: 30%;
    width: 50vw;
    position: relative;
    float: right;
}
.location--title .span-temperature {
    width: 30vw;
    padding-top: 20%;
    position: absolute;
}
.location--title .span-temperature span {
    padding-right: 5%;
    font-size: 14vw;
}
.temperature__container .img-temperature {
    float: right;
    position: absolute;
    right: 5%;
}
.temperature__container .span-temperature {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 13%;
}
.temperature__container img {
    padding-right: 5%;
    width: 60vw;

}
.bottom-container {
    bottom: 20%;
    display: inline-block;
    width:100%;
    padding: 5%;
}
.bottom-container span {
    float: right;
}
.bottom-container hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.last--updated {
    padding-left: 5%;
    padding-top: 5%;
    float: left;
    width: 100vw;
}

.last--updated span {
    font-size: small;
}

.refresh--button {
    width: 100vw;
    text-align: center;
}
.refresh--button .mdc-button {
    height: 40px;
    text-transform: capitalize;
    background-color: inherit !important;
    color: inherit !important;
}
.refresh--button button span{
    padding: 20px;
    color: inherit !important;
}

#refreshSVG {
    font-size: 50px;
    height: 40px;
    width: 40px;
}
.mdc-button .mdc-button__ripple::before {

    background-color: inherit !important;
}

.mdc-button .mdc-button__ripple:active {
    background-color: var(--mdc-theme-primary, #6200ee);
    opacity: 0.1;
}
