.main__container{
    width: 100%;
    height: 100%;
    background-color: #DEDAD9;
    background-image: linear-gradient(to left top, #051237, #004375, #007aa2, #00b3b4, #12eba9);
    color: white;
    overflow: hidden;
    position: relative;
    white-space:nowrap;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.8px;
    word-spacing: 0.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
}
.main__container .location--title {
    padding-left: 5%;
    padding-top: 15%;
}
.main__container .location--title p{ 
    font-size: 10vw;
    font-family: Georgia, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.temperature__container {
    margin-top: 30%;
    /* float: left; */
}
.temperature__container span {
    padding-left: 5%;
    color: black;
    font-size: 10vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.temperature__container img {
    float: right;
    padding-right: 5%;
    width: 60vw;

}
.bottom-container {
    position: absolute;
    bottom: 2%;
    display: inline-block;
    width:100%;
    padding: 5%;
    font-family: Georgia, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    
}
.bottom-container span {
    float: right;
    font-family: Georgia, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.bottom-container label {
    font-family: Georgia, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.bottom-container hr {
    margin-top: 10px;
    margin-bottom: 10px;
}