.main__container{
    width: 100%;
    height: 100%;
    background-color: #DEDAD9;
    background-image: linear-gradient(to bottom,  #DEDAD9, #C1C0C0, #333332);
    color: white;
    overflow: hidden;
    position: relative;
    white-space:nowrap;
}
.main__container .location--title {
    text-align: center;
    padding: 2%;
}
.main__container .location--title p{ 
    font-size: 10vw;
}
.temperature__container {
    margin-top: 30px;
}
.temperature__container span {
    color: white;
    font-size: 50px;
}
.bottom-container {
    position: absolute;
    bottom: 2%;
    display: inline-block;
    width:100%;
    padding: 5%;
}
.bottom-container span {
    float: right;
}
.bottom-container hr {
    margin-top: 10px;
    margin-bottom: 10px;
}