.content__div {
    margin-top: 50px;
}
.mdc-text-field {
    width: 100%;
}
.mdc-text-field input {
    height: 35px;
    background-color: white;
    font-size: 14px;
}
.mdc-form-field label {
    font-size: 14px;
}
.mdc-layout-grid__inner {
    margin-bottom: 20px;
}
.btn-container {
    margin-top: 27px;
}
.btn-container  .mdc-button--unelevated {
    background-color: #00a1f1;
}
.mdc-switch--checked .mdc-switch__thumb {
    background-color: #00a1f1 !important;
    border-color: #00a1f1 !important;
}
.apiKey__container {
    display: block;
}
.apiKey__container .mdc-text-field {
    height: 35px;
}
.city__container {
    display: block;
    margin-top: 20px;
}
.city__container .mdc-text-field {
    height: 35px;
}
.currentLocation__container {
    display: inline;
}

.unit__container span{
    font-size: 18px;
}
.mdc-radio__outer-circle {
    border-color: #00a1f1 !important;
}

.mdc-radio__inner-circle {
    border-color: #00a1f1 !important;
}
.unit__container .mdc-form-field {
    float: right;
    margin-top: -10px;
}
.mdc-form-field {
    font-family: 'Muli', sans-serif;
}