.subPage{
    display: none;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: white;
    /* padding: 1em; */
}
.subPage.activeFull{
    display: block;
    height: 100%;
    width: 100%;
}
.subPage.activeDialog{
    display: block;
    width: 80%;
    left:10%;
    top:100px;
    box-shadow: grey 5px 5px 15px;
    outline: 9999px solid #ffffffaa;
}
.subPage > .spHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 11px 15px; */
    background: #eef0f0;
    position: relative;
    font-size: 15px;
}
.spHeader h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    /* line-height: 27px;
    padding-right: 30px; */
}
.spHeader span.close-modal {
    color: #5f5f5f;
    font-size: 20px;
}
.subPage > .spFooter{
    text-align:right;
    border-top: 1px solid #ddd!important;
}
.spFooter button {
    margin-left: 8px;
}
/* .subPage > .spHeader > h3{
    flex:9;
    text-decoration: underline;
} */
/* .subPage > .spHeader > span{
    flex:1;
    text-align: right;

} */