
.listViewContainer{
    padding: 1rem;
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 6rem;
    
}
.listViewItem{
    display: flex;
    align-items: center;
    border-radius: .5rem;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 .125rem .5rem rgba(50, 50, 50, 0.2);
    margin-bottom: .75rem;
    min-height: 3.75rem;
}
.listViewItem  .listViewItemImg{
    height: 2rem;
    width: 2rem;
    margin: .5rem;
    overflow: hidden;
    border-radius: .25rem;
    flex-shrink: 0;
    object-fit: cover;
}
.listViewItem > .listViewItemCopy{
    flex: auto;
}

.listViewItem .toolbarBadge{
    background-color: red;
    border-radius: 50%;
    color:white;
    width:1em;
    height:1em;
    overflow: hidden;
}

.listViewItem .toolbarShare{
    background-color: blue;
    border-radius: 50%;
    color:white;
    width:1em;
    height:1em;
    overflow: hidden;
}